<div>
    <main>
        <section>
            <div>
                <p>
                    {{> title data=main.summary.title big=true}}
                </p>
            </div>
            {{main.summary.text}}
        </section>


        {{#with main.experience}}
        <section>
            {{> title data=title big=false}}
            <div>
                <p>
                    {{text}}
                </p>
            </div>
        </section>
    </main>
    {{/with}}